<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="ConnString" connectionString="Data Source=SERVER;Persist Security Info=True;User ID=app_user;password=app_pass" providerName="System.Data.OracleClient"/>
  </connectionStrings>
  <startup>
    <supportedRuntime version="v2.0.50727"/>
  </startup>
</configuration>
